@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100;200;300;400;500;600;700&family=Nunito&family=Poppins:wght@100&family=Radley&display=swap');

article {
    width: 275px;
    height: 400px;
    
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;

    border-radius: 40px;
}

.image-container {
    min-width: 100%;
    height: 100%;
  
    display: grid;
    
    border: 1px solid #51586C;
    border-radius: 40px;
    overflow: hidden;
    
    box-shadow: 0 4px 8px 0 #51586C;
    background-color: black;
    
    cursor: pointer;
}

.image-container > * {
    grid-area: 1/1;
    transition: .4s;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.image-container:hover img {
    opacity: 0.4;
    transform: scale(1.1);
}

.image-container:hover .info-text {
    opacity: 1;
}

.info-text {
    width: 100%;
    height: 100%;
    
    opacity: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    font-family: 'Radley', serif;
    color: #F6F8F8;
    
    z-index: 1;
}

.project-title {
    font-size: 30px;
    margin-top: 25px;
}

.project-tags {
    font-size: 18px;
    padding-bottom: 40px;
}


